:root {
  --btn-color: #ef0914;
  --border-none: none;
  --white: #fff;
}

.loginScreen {
  background-image: url("../images/ntflx-login-bg.jpg");
  background-repeat: repeat-y;
  background-size: cover;
  background-position: center;
  color: #eee;
  min-height: 100%;
  position: relative;
}

.nav-logo {
  position: fixed;
  left: 0;
  object-fit: contain;
  margin-left: 1%;
  /* width: clamp(12%, 120px, 28%); */
  width: 150px;
}

.signIn-btn {
  background-color: var(--btn-color);
  border: var(--border-none);
  border-radius: 4px;
  color: var(--white);
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  margin-right: 5%;
  outline: none;
  padding: 9px 16px;
  position: fixed;
  right: 0;
  top: 25px;
}

.gradient-layer {
  background-color: rgba(0, 0, 0, 0.4);
  background-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.8) 0,
    rgba(0, 0, 0, 0) 60%,
    rgba(0, 0, 0, 0.8) 100%
  );
  height: 100vh;
  width: 100%;
  z-index: 1;
}

.loginScreen-body {
  color: var(--white);
  z-index: 1;
  position: absolute;
  top: 32%;
  /* border: 1px solid yellow; */
  width: 100%;
}

.loginScreen-body.signIn {
  top: 16%;
}

.loginScreen-body > * {
  max-width: 650px;
  margin: 0 auto;
  text-align: center;
  padding: 0 30px;
}

.loginScreen-body .main-text {
  font-size: 3.25rem;
  font-weight: 600;
  line-height: 1.1;
  margin-bottom: 15px;
}

.loginScreen-body .sub-text {
  font-size: 1.6rem;
  font-weight: 400;
  margin-bottom: 20px;
}

.loginScreen-body .cta__sub-text {
  font-weight: 400;
  font-size: 1.15rem;
  margin-bottom: 15px;
}

.cta-form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.email {
  border: var(--border-none);
  padding: 13px 10px;
  width: 400px;
  outline-width: 0;
  height: 30px;
}

.email::placeholder {
  font-size: 15px;
}

.cta-started {
  display: flex;
  align-items: center;
  background-color: var(--btn-color);
  border: var(--border-none);
  color: var(--white);
  cursor: pointer;
  font-size: 1.4rem;
  padding: 10px 26px;
  height: 56px;
  margin-left: 1px;
  text-align: center;
}

.cta-started span {
  margin-right: 4px;
}

.cta-started .arrow-right {
  margin-left: 4px;
}
