.profileScreen {
  color: #fff;
  height: 100vh;
}

.profileScreen-body {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding-top: 5em;
  width: 50%;
}

.profileScreen-body h2 {
  border-bottom: 1px solid #282c2d;
  font-size: 2.9em;
  font-weight: 400;
  margin-bottom: 20px;
}

.user-information {
  display: flex;
}

.user-information img {
  height: 6rem;
}

.details {
  flex: 1;
  margin-left: 25px;
}

.user-email {
  background-color: #808080;
  font-size: 16px;
  padding: 14px 14px 14px 18px;
}

.plans {
  margin-top: 14px;
}

.user-plan {
  border-bottom: 1px solid #282c2d;
  padding-bottom: 10px;
}

.renewal-date {
  margin: 10px 0 25px;
}

.user-signOut {
  background-color: #e50914;
  border: none;
  cursor: pointer;
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
  padding: 10px 20px;
  margin-top: 5%;
  width: 100%;
}

.individual-plans {
  padding: 0 8px;
}

.user-signOut:hover {
  filter: saturate(85%);
}

@media screen and (max-width: 769px) {
  .profileScreen-body {
    width: 70%;
  }
}

@media screen and (max-width: 550px) {
  .profileScreen-body {
    padding-top: 6em;
    width: 90%;
  }

  .profileScreen-body h2 {
    font-size: 1.8em;
    margin-bottom: 2rem;
  }

  .user-information {
    flex-direction: column;
  }

  .user-email {
    margin-bottom: 2rem;
  }

  .user-information img {
    margin: 0 auto 0.8rem;
    height: 8rem;
    width: 10rem;
  }

  .details {
    padding: 0.8rem;
    margin: 0;
  }
}
