.profileScreen {
  color: #fff;
  height: 100vh;
}

.profileScreen__body {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding-top: 5em;
  width: 50%;
}

.profileScreen__body h2 {
  border-bottom: 1px solid #282c2d;
  font-size: 2.9em;
  font-weight: 400;
  margin-bottom: 20px;
}

.profileScreen__user-information {
  display: flex;
}

.profileScreen__user-information img {
  height: 6rem;
}

.profileScreen__details {
  flex: 1;
  margin-left: 25px;
}

.profileScreen__user-email {
  background-color: #808080;
  font-size: 16px;
  padding: 14px 14px 14px 18px;
}

.profileScreen__plans {
  margin-top: 14px;
}

.profileScreen__user-plan {
  border-bottom: 1px solid #282c2d;
  padding-bottom: 10px;
}

.profileScreen__renewal-date {
  margin: 10px 0 25px;
}

.user-signOut {
  background-color: #e50914;
  border: none;
  cursor: pointer;
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
  padding: 10px 20px;
  margin-top: 5%;
  width: 100%;
}

.profileScreen__individual-plans {
  padding: 0 8px;
}

.user-signOut:hover {
  filter: saturate(85%);
}

@media screen and (max-width: 769px) {
  .profileScreen__body {
    width: 70%;
  }
}

@media screen and (max-width: 550px) {
  .profileScreen__body {
    padding-top: 6em;
    width: 90%;
  }

  .profileScreen__body h2 {
    font-size: 1.8em;
    margin-bottom: 2rem;
  }

  .profileScreen__user-information {
    flex-direction: column;
  }

  .profileScreen__user-email {
    margin-bottom: 2rem;
  }

  .profileScreen__user-information img {
    margin: 0 auto 0.8rem;
    height: 8rem;
    width: 10rem;
  }

  .profileScreen__details {
    padding: 0.8rem;
    margin: 0;
  }
}
