.profileScreen {
  color: #fff;
  height: 100vh;
}

.profileScreen-body {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding-top: 8%;
  width: 50%;
}

.profileScreen-body h2 {
  border-bottom: 1px solid #282c2d;
  font-size: 46px;
  font-weight: 400;
  margin-bottom: 20px;
}

.user-information {
  display: flex;
}

.user-information img {
  height: 100px;
}

.details {
  flex: 1;
  margin-left: 25px;
}

.user-email {
  background-color: #808080;
  font: 14px;
  padding: 14px 14px 14px 18px;
}

.plans {
  margin-top: 14px;
}

.user-plan {
  border-bottom: 1px solid #282c2d;
  padding-bottom: 10px;
}

.renewal-date {
  margin: 10px 0 25px;
}

.user-signOut {
  background-color: #e50914;
  border: none;
  cursor: pointer;
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
  padding: 10px 20px;
  margin-top: 5%;
  width: 100%;
}

.individual-plans {
  padding: 0 8px;
}

.user-signOut:hover {
  filter: saturate(85%);
}
