.row {
  color: #fff;
  margin-left: 20px;
}

.poster__wrapper {
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 20px;
}

.poster__wrapper::-webkit-scrollbar {
  display: none;
}

.movie__poster {
  cursor: pointer;
  max-height: 150px;
  margin-right: 10px;
  object-fit: contain;
  transition: transform 0.35s;
  width: 100%;
}

.movie__poster:hover {
  transform: scale(1.08);
  opacity: 1;
}

.movie__poster.large {
  max-height: 300px;
}

.movie__poster.large:hover {
  opacity: 1;
  transform: scale(1.09);
}

@media screen and (max-width: 768px) {
  .movie__poster:hover,
  .movie__poster:active,
  .movie__poster.large:hover,
  .movie__poster.large:active {
    transform: none;
  }
}
