.footer__main {
  background-color: #000;
  color: #777;
  padding: 4rem 0 1.8rem;
}

.footer {
  margin: 0 auto;
  width: 65%;
  /* outline: 1px solid yellow; */
}

.lead-text {
  cursor: pointer;
  font-size: 16px;
  margin-bottom: 2rem;
}

.footer__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas: "list1 list2 list3 list4";
  margin-bottom: 1.8rem;
  gap: 0.8rem;
}

.footer__grid ul {
  grid-area: list;
  list-style-type: none;
}

.footer__grid ul:first-of-type {
  grid-area: list1;
}

.footer__grid ul:nth-of-type(2) {
  grid-area: list2;
}

.footer__grid ul:nth-of-type(3) {
  grid-area: list3;
}
.footer__grid ul:last-of-type {
  grid-area: list4;
}

.footer__grid li {
  cursor: pointer;
  font-size: 13px;
  margin-bottom: 0.9rem;
  word-wrap: break-word;
}

.company-name {
  font-size: 14px;
}

.lead-text:hover,
.footer__grid li:hover {
  text-decoration: underline;
}

@media screen and (max-width: 550px) {
  .footer__grid {
    grid-template-areas:
      "list1 list3"
      "list2 list4";
    column-gap: 3rem;
  }

  .footer__grid li {
    word-break: keep-all;
    width: 8rem;
  }
  .footer__grid ul > li:last-of-type {
    margin-bottom: 0;
  }
}
