.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  padding: 15px 0 10px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  transition: all 0.2s ease-in;
  width: 100%;
  z-index: 1;
}

.nav__black {
  background-color: hsl(0, 0%, 10%);
}

.home__nav-logo {
  cursor: pointer;
  object-fit: contain;
  transform: translateY(-4px);
  margin-left: 1rem;
  width: 7.5rem;
}

.home__nav-logo img {
  width: 100%;
}

.home__nav-avatar {
  cursor: pointer;
  height: 2.25rem;
  margin-right: 1.8rem;
  width: 2.4rem;
}

@media screen and (max-width: 550px) {
  .home__nav-avatar {
    margin-right: 1rem;
  }
}
