.nav {
  height: 30px;
  padding: 20px;
  position: fixed;
  top: 0;
  transition: all 0.5s ease-in;
  width: 100%;
  z-index: 1;
}

.nav__black {
  background-color: #222;
}
.nav-contents {
  display: flex;
  justify-content: space-between;
}

.nav-logo {
  cursor: pointer;
  object-fit: contain;
  /* padding: 0 0 0 20px; */
  position: fixed;
  top: 0;
  left: 0;
  width: 120px;
}

.nav-avatar {
  cursor: pointer;
  position: fixed;
  right: 20px;
  width: 30px;
}
